sudo: required
services:
  - docker

before_install:
# using travis to encrypt json file
  # $ docker run -it -v $(pwd):/app ruby:2.4 sh
  # $ gem install travis
  # $ travis login --github-toke #TOKEN --com
  # $ travis encrypt-file service-account.json -r kuangyu0801/multi-k8s --com
  # delete service-account.json
  - openssl aes-256-cbc -K $encrypted_9f3b5599b056_key -iv $encrypted_9f3b5599b056_iv -in service-account.json.enc -out service-account.json -d
# install google cloud sdk
  - curl https://sdk.cloud.google.com | bash > /dev/null;
  - source $HOME/google-cloud-sdk/path.bash.inc
  - gcloud components update kubectl
  - gcloud auth activate-service-account --key-file service-account.json
  - gcloud config set project multi-k8s-317909
  - gcloud config set compute/zone europe-west1-b
  - gcloud container clusters ger-credentials multi-cluster
  - echot "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker build -t kuangyu0801/reat-test -f ./client/Dockerfile.dev ./client
script:
  - docker run -d CI=true kuangyu0801/react-test npm test